html{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F2EFCA;
}

h1{
  margin:0;
  font-weight: bold;
  text-align: center;
  font-size: 3vw;
  color: #8C602A;
  padding-top:2vw;
}

a {
  text-decoration: none;
  color: #8C602A;

}
a:hover {
  text-decoration: line-through;
}

a:visited{
  text-decoration: none;
  color: #8C602A;
}

div{
  float: center;
/*  display: block;*/
/*  align-content: center;*/
  margin: 0;
/*  position: relative;*/
/*  justify-content: center;*/
  padding-bottom: 5vh;
/*  vertical-align: middle;*/
  width: 100%;
}


/*.labels-style{
  background-color: blue;
  position: absolute;
  width: 50%;

}*/

/*.container {
  background-color: pink;
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  padding:200px;

}*/


.alert {
  position: relative;
/*  display:inline-block;
  margin: 5vw;*/
  top: 10;
  left: 0;
  width: 80vw;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  line-height: 3vw;
  border-radius: 0.6vw;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3vw;
}

.alertCheckbox {
  display: none;
}

:checked + .alert {
  display: none;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.alertClose {
  float: right;
  padding-top: .15vw;
  font-size: 1vw;
}

.clear {
  clear: both;
}

.boxA {
  background-color: #F2DE79;
  border: 1px solid #8C602A;
  color: #8C602A;
}

.boxB {
  background-color: #e8b461;
  border: 1px solid #8C602A;
  color: #8C602A;
}