html{
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: none;
  background-color: #FBFBFB;
}

body { 
  margin: 0;
}

div{
  display: block; 
  margin: 0;
  padding: 30px;
  padding-top: 2vw;
}

h1{
  color: #4e4e4e;
  text-align: center;
}

table {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
  border-spacing: 0;
  background-color: #FBFBFB;
}

th, td {
  border: 1px solid black;
  box-sizing: border-box;
}

th {
  text-transform: uppercase;
  font-size:15px;
  font-weight:700;
  padding: 10px 0;
  color: #7b7b7b;
  background-color: #FBFBFB;
  letter-spacing: 1px;
}

td {
  width: 14.285%;
  transition: all 0.3s;
  font-size: 14px;
  color: #7b7b7b;
  font-weight: 400;
  font-size: 14px;
  padding: 1.5% 1.5% 5%;
  vertical-align: initial;
  padding: 1.5% 0 ;
  height: 50vh;
  position: relative;
}

.day:hover {
  background-color: rgba(0,0,0,0.1);
  cursor:pointer;
}

.today {
  color: #614E42;
  background-color: rgba(0,0,0,.25) !important;
}

.nextmonth {
  color: #9c9c9c;
  background-color: #EBEBEB;
}

.nextmonth:hover {
  color: #7b7b7b;
  background-color: rgba(0,0,0,.20) !important;
}

span.number {
  margin-left: 10%;
}

span.event { 
  height: 8px; 
  background-color: rgba(0,0,0,.3); 
  display: block; 
  margin: 10px 10%; 
  border-radius: 5px; 
  background-color: #BF4E42;
}

span.event-multiday {
  margin: 10px -2px;
  border-radius: 0;
}

span.event-multiday-start {
  margin-right: -4px;
}

span.event-multiday-finish {
  margin-left: -4px; 
}

span.event-ghost {
  background-color:transparent;
}

.rectangle {
  display: block;
  top:0;
  left: 0;
  margin-top: 0;
  margin-left:0;
  position: absolute;
  height: 50vh;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}


.rectangle:hover{
  background-color: rgba(0,0,0,.20);
/*  border-bottom: 1px solid white;*/
/*  border-right:  1px solid white;*/
/*  border-left: 2px solid white;*/
}


/*<--task-->*/

.todo {
  display: block;
/*  top:5px;*/
/*  left: 0;*/
/*  margin-top: 0;
  margin-left:0;*/
/*  position: absolute;*/
  margin-top:10%;
  height: 30%;
  width: 100%;
  background-color: #ffeac3;
  z-index: 1;
  border-left: 3px solid orange;
}

.dotexto{
  margin: 0;
  padding: 0;
  padding-top: 5%;
  padding-left: 10%;
  color: orange;
}

.todo2 {
  display: block;
  margin-top:10%;
  height: 30%;
  width: 100%;
  background-color: #cef7c9;
  z-index: 1;
  border-left: 3px solid #2C8E39;
}

.dotextg{
  margin: 0;
  padding: 0;
  padding-top: 5%;
  padding-left: 10%;
  color: #2C8E39;
}

.todo3 {
  display: block;
  margin-top:10%;
  height: 30%;
  width: 100%;
  background-color: #fbcfca;
  z-index: 1;
  border-left: 3px solid #BF4E42;
}

.dotextr{
  margin: 0;
  padding: 0;
  padding-top: 5%;
  padding-left: 10%;
  color: #BF4E42;
}

.time{
  color: grey;
}

