html {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

p{
  position: relative;
  align-items: center;
  top:50%;

  font-size: 0.8vw;
  color: white;
  text-align: center;
  text-transform: lowercase;
  word-spacing: 110px;
}

svg {
  display: block; 
  width: 100%;
}

.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1800vw;
}
.one {
  background: linear-gradient(to right, #ff0000, #ff7800);
}
.two {
  background: linear-gradient(to right, #ff7800, #ffff00);
}
.three {
  background: linear-gradient(to right, #ffff00, #3bc41d);
}
.four {
  background: linear-gradient(to right, #3bc41d, #0000ff);
}
.five {
  background: linear-gradient(to right, #0000ff, #492503);
}
.six {
  background: linear-gradient(to right, #492503, #ff0000);
}



a {
    text-decoration: none;
    color: white;

}
a:hover {
     color: #0000ff;
     text-decoration: underline dotted;
}

a:visited{
    text-decoration: none;
    color: white;
}

