html, body{
	padding:0;
	margin: 0;
	font-family: Helvetica, sans-serif;
	font-size: 2vw;
	background-color: black;
}

#time{
	background-color: transparent;
	margin: 0;
	bottom: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100vw;
	padding: 1rem;
}


#tick{
	position: relative;
	display: flex;
	justify-content: center;
	background-color: transparent;
	color: rgb(254, 203, 0);
	font-weight: medium;
	text-align: center;
	width: 50vw;
	height: 3rem;
}