html{
  margin: 0;
  padding: 0;
/*  background-color: none;*/
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  align-content: center;

  height: 100%;
  background-image: linear-gradient(green, purple);
  background-color: green;

}

h1 {
  position:relative;
  display:inline-block
  font-weight: bold;
  color:white;
  text-align: center;
  font-size: 2vw;
  padding-top:5vh;
  text-decoration: 1px solid underline black;
}

div{
  display: inline-block;
  font-weight: bold;
  position: relative;
  margin: 0;
  padding: 0;
/*  float: left;*/
/*  align-content: center;*/
  width:100%;
  height: 100%;
}

body{
  text-align: center;
  padding: 5vw;

}

#jumble{
/*  display: inline-grid;*/
  color: white;
  text-align: center;
  font-style: normal;
  width: 100%;
  /*animation: none;*/
  animation: shake 0.5s;
  animation-iteration-count: infinite;

  letter-spacing: 20vw;
  line-height: 10vw;
/*  letter-spacing: 20vw;
  line-height: 10vw;*/
}

p{
  font-size: 5vw;
  text-align: center;
  font-weight: bold;
/*  letter-spacing: 0.12vw;*/
}

/*
p:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}*/


/*span{
  display: inline-block;
  font-weight: bold;
  padding-bottom: 5vw;
  padding-left: 2vw;
  float: left;
  text-align: center;
}*/

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: overline underline;
}

a:visited{
  text-decoration: none;
  color: black;
}