html{
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
  margin:0;
/*  display: inline-block;*/
  font-weight: bold;
  text-align: center;
  font-size: 2vw;
  padding-top:5vh;

}

div{
  width: 100%;
  display: flex;
  justify-content: center;
  display: inline-block;
  background-color: transparent;
  padding: 5px;
/*  margin:20px;*/
}

.checkboxes{
  margin: 0 auto;
  display:block;
  position: relative;

  padding: 30px;
  padding-top: 50px;
  width: 50%;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
}

input{
  display:inline;
}

.checkboxlink{
  position: absolute;
  right: 35px;
  bottom: 30px;
  width: 15px;
  height: 15px;
  background-color: transparent;
}