*{
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: none;
}

h1 {
  font-size: 3vw;
  line-height: 4vw;
}

#blur{
	filter:blur(0.3vw);
}

div{
	padding: 3vh;
	max-width: 95%;
}

 a {
    text-decoration: none;
    color: black;
    filter:blur(0.3vw);

}
 a:hover {
     color: black;
     text-decoration: underline;
}

a:visited{
    text-decoration: none;
    color: black;
    filter:blur(0.3vw);
}