html, body{
  padding:0;
  margin: 0;
  font-family: 'Poppins', sans-serif;

  width: 100vw;
  height: 100vh;
}

#menu{
  position: fixed;
  background-color: transparent;
  z-index: 100;
  width: 100vw;
  height:10vh;
/*  background-color: transparent;*/
  font-size: 35px;
}

ul {
  font-weight: medium;
  margin: 0;
  padding: 0;
  background-color: transparent;
  position: sticky;
  top: 0;
}

li {
  float: left;
  color: white;
  list-style-type:none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:active {
  color: white;
  text-decoration: wavy;
}

li a:hover {
  text-decoration: underline;
  color:  rgb(255,255,255,0.8); 
}


a {
  color: white;
  text-decoration: wavy underline;
}

a:active {
  color: white;
  text-decoration: wavy;
}

a:hover {
  text-decoration: underline;
  color:  rgb(255,255,255,0.8); 
}


.dropbtn {
	float: right;
  background-color: transparent;
  height: 10vh;
  padding: 14px 16px;
  font-weight: medium;
  font-size: 35px;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  float: right;
  text-align: right;
  background-color: transparent;
  display: inline-block;
}

.dropdown-content {
  margin-right: 0;
  display: none;
  float: right;
  position: absolute;
  background-color: none;
  text-decoration: none;
  z-index: 1;
  width: 15vh;
}

.dropdown-content a {
  display: block;
  float: right;
  text-align: right;
  position: relative;
  top:65px;
  padding-top: 0px;
  width: 200px;
  font-size: 34px;
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-content a:hover {
	background-color: transparent;
	text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropbtn {
	background-color: transparent;
  text-decoration: none;
  color:  rgb(255,255,255,0.8); 
}

/*.button2 {
    display: block;
    background-color: blue;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}*/


.container { 
  margin: 0;
  position: absolute;
  height: 100%;
  width:100%;
  padding-top: 20px;
  align-items: left;
  display: flex;
}

.btn {
  margin: 0;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  border: 1px solid white;

  color: white;
  text-decoration: none;
  font-size:1vw;
  text-align: center;

  max-width: 160px; 
  width: 100%; 
  
  &:hover { text-decoration: none; }
}

/*/////////////////////////////
//button-5 
///////////////////////////*/
.btn-5 {
  position: absolute;
  padding: 10px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

.box{
  margin: 0;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: auto;
  height: 100vh;
}

#box-1{
  background-color: transparent;
  width: 30vw;
}

#box-2{
  background-color: transparent;
  width:50vw;
  height: 100vh;
}

#box-3{
  background-color: transparent;
  width: 20vw;
}

span{
  margin-top:10vh;
  display: block;
  color: white;
  position: absolute;
  background-color: transparent;
  font-size: 1.9vw;
}

h1{
  font-size: 2vw;
  color: white;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}


@media screen and (max-width: 768px) {


}


@media (max-width: 660px) {
  
}


@media (max-width: 560px) {

  #menu{
  position: fixed;
  background-color: grey;
  z-index: 100;
  min-width: 560px;
  height:65px;
  font-size: 28px;
  }

  .dropbtn {
  position: relative;
  margin-right: 90px;
  float: right;
  background-color: transparent;
  height:65px;
/*    padding: 16px;*/
  /*padding: 14px 16px;*/
  font-size: 28px;
  }

  .dropdown-content {
    margin-right: 90px;
    display: none;
    float: right;
    position: absolute;
    background-color: none;
    text-decoration: none;
    z-index: 1;
    width: 15vh;
  }

  .dropdown-content a {
    display: block;
    float: right;
    text-align: right;
    position: relative;
    top:65px;
    padding-top: 0px;
    width: 200px;
    font-size: 28px;
    background-color: transparent;
  }


  #box-1{
  background-color: pink;
  width: 3vw;
  }

  #box-2{
  background-color: blue;
  width:94vw;
  height: 100vh;
  }

  #box-3{
  width: 0vw;
  }

  span{
  margin-top:10vh;
  display: block;
  color: white;
  position: absolute;
  background-color: transparent;
  font-size: 20px;
  }

  h1{
  font-size: 22px;
  color: white;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  }


}