*{
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
/*    text-transform: none;*/
}

body {
  height: 100vh; 
  padding: 0.5em 1em;
  background: #9FCDE4;
}
svg {
  display: block; 
  width: 100%;
}

a {
    text-decoration: none;
    color: white;

}

a:hover {
     color: blue;
     text-decoration: underline;
}

a:visited{
    text-decoration: none;
    color: white;
}