html{
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    height: auto;
    background: radial-gradient(#6f7ee6, #34292b);
/*    text-transform: none;*/
}

body {
  height: 100vh; 
  font-size: 4vw;
  line-height: 10vw;
  width: 20vw;
  float: right;
  text-align: right;
  padding: 0.5em 1em;
  color: white;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: white; }
    49%{    color: white; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: white; }
}

a {
  text-decoration: none;
  color: inherit;

}

a:hover {
  color: #34292b;
  text-decoration: underline;
}

a:visited{
  text-decoration: none;
  color: inherit;
}