*{
	padding:0;
	margin: 0;
}

html{
	font-size:2vw;
}

.menu{
	margin: 0;
	background-color: #2E0927;
	position: absolute;
	display: inline-flex;
	align-content: center;
	align-items: center;

	top:0;
	width: 100vw;
	height:15vh;
	z-index: 100;
}

.oval {
	background-color: pink;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	vertical-align: middle;

    width: 20%;
    height: 90%;
    border-radius: 50%;
}

.box{
	display: inline-block;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	width: 33.33%;
	height: 200vh;
}

#box-1{
	background-color: #FF8C00;

}

#square {
	background-color: #D90000;
	margin: 0;
	display: flex;
	flex-direction: column;
	position: relative;
	top:15vh;
	align-items: center;
	vertical-align: middle;
    width: 100%;
    height: 33.33%;
}

#box-2{
	background-color: green;
}

/*#box-2 .absoulte{
	background-color: white;
}*/

#box-3{
	background-color: blue;
}

#triangle {
	background-color: #BF9780;
	margin: 0;
	display: flex;
	flex-direction: column;
	position: relative;
	top:150vh;
	align-items: center;
	vertical-align: middle;

    width: 0;
    height: 0;
    border-top: 50vh solid #592E1E;
    border-left: 16.66vw solid transparent;
    border-right: 16.66vw solid transparent;
    }

@media screen and (max-width: 768px) {

	.menu{
	background-color: #035AA6;
	}

	#oval {
	background-color: #F2CB05;
	}

	#square {
	background-color: #F26835;
	top:150vh;
	}

	#triangle {
	top:15vh;
	background-color: green;
    border-top: 25vh solid #1C3061;
    border-right: 16.66vw solid #C9EA8C;
    border-bottom: 25vh solid #D2DEEE;
    }

	#box-1{
	background-color:#BF212E;
	}

	#box-2{
	background-color: purple;
	}

	#box-3{
	background-color: orange;
	}
}


@media (max-width: 600px) {

    .menu{
	background-color: #0B0C0D;
	}

	#oval {
	background-color: #D7D7D9;
	}

	#square {
	background-color: #556A73;
	top:15vh;
	height:10vh;
	}

	#triangle {
	top:50vh;
	background-color: #731753;
    border-top: 25vh solid transparent;
    border-right: 16.66vw solid #731753;
    border-bottom: 25vh solid #BFA4B8;
    }

	#box-1{
	background-color:#D2DEEE;
	}

	#box-2{
	background-color:#595040;
	}

	#box-3{
	background-color: #731753;
	}
}

@media (max-width: 375px) {

	.menu{
	background-color: #8C0B3B;
	}

	#oval {
	background-color: #BF5239;
	}

	#square {
	background-color: #142AA6;
	top:15vh;
	height:10vh;
	}

	#triangle {
	top:50vh;
	background-color: #4393A2;
    border-top: 25vh solid transparent;
    border-right: 16.66vw solid #D9D9D9;
    border-bottom: 25vh solid #4393A2;
    }

	#box-1{
	background-color:#799741;
	}

	#box-2{
	background-color:#142AA6;
	}

	#box-3{
	background-color: #4393A2;
	}
}