*{
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
  position:relative;
  display:inline-block
  font-weight: bold;
  text-align: center;
  font-size: 2vw;
  padding-top:5vh;
}

div{
  color: black;
  width: 100vw;
  background-color: transparent;
  padding: 5px;
/*  margin:20px;*/
}

.checkboxes{
  display:block;
  position: relative;

  width: 50%;
  padding:30px;
  padding-top: 50px;
}

/*[type="checkbox"]:not(:checked) + label:after,*/
[type="checkbox"]:checked + label:after {
}

input{
  display:inline;
}