
@font-face {
    font-family:"BrushBQ";
    src:url("Brush BQ Regular.woff2") format("woff2"),url("Brush BQ Regular.woff") format("woff"),url("Brush BQ Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        